<!DOCTYPE html>
<html>
<head>
    <title>🌦️ Weather App</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather-icons.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>
<body>
    <div class="container-sm">
        <h1>Weather Checker</h1>
        <form method="POST">
            <label class="form-label">Enter city:</label>
            <input type="text" name="city" required class="form-control" placeholder="e.g. London, New York">
            <label class="form-label">Unit:</label>
            <select name="unit" class="form-select">
                <option value="Celsius">Celsius</option>
                <option value="Fahrenheit">Fahrenheit</option>
            </select>
            <div class="form-button">
                <button class="btn btn-primary" type="submit">Get Weather</button>
            </div>
        </form>
        
        {% if message %}
            <p style="color:green;">{{ message }}</p>
        {% endif %}

        {% if warning %}
            <p style="color:orange;">{{ warning }}</p>
        {% endif %}

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        {% if weather %}
        
            <h2>Weather in {{ weather.city }}</h2>
            <i class="wi {{ weather.icon_class }} weather-icon"></i>
            <div class="weather-details">
                <div class="row">
                    <div class="col-md-6 text-bold">
                        <p>Temperature: </p>
                        <p>Feels like: </p>
                        <p>Temperature Min: </p>
                        <p>Temperature Max: </p>
                        <p>Sky: </p>
                        <p>Pressure: </p>
                        <p>Humidity: </p>
                        <p>Wind Speed: </p>
                        <p>Wind Direction: </p>
                        <p>Visibility: </p>
                    </div>
                    <div class="col-md-6">
                        <p>{{ weather.temperature }}{{ weather.unit }}</p>
                        <p>{{ weather.feels_like }}{{ weather.unit }}</p>
                        <p>{{ weather.temperature_min }}{{ weather.unit }}</p>
                        <p>{{ weather.temperature_max }}{{ weather.unit }}</p>
                        <p>{{ weather.description }}</p>
                        <p>{{ weather.pressure }} </p>
                        <p>{{ weather.humidity }}</p>
                        <p>{{ weather.wind_speed }} </p>
                        <p>{{ weather.wind_direction }}</p>
                        <p>{{ weather.visibility }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>